*/build/
*/dist/
*/robocop.egg.info/
*/librobocop.so*
analysis/working_config.ini
*.pyc
*nfs00000*
*__pycache__*
*dm504*
.gitignore~
*.bak
*cell_cycle*
*Copy*
*copy*
*slurmScript*
*COMPETE*
*Multiple*
*multiple*
*slurm*
pkg/core
